// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$desktop: 992px;

// Colores
$negro: #000;
$blanco: #FFFFFF;
$grisClaro: rgb( 243 244 246 );
$gris: rgb(75 85 99);
$grisFuerte: #2d3748;
$azulClaro: rgb(2 132 199);
$azul: rgb(7 89 133);
$rojo: rgb(239 68 68);
$rojoFuerte: rgb(185 28 28);
$verde: rgb(34 197 94);