@use 'base/variables' as v;
@use 'base/mixins' as m;

.create {

    display: flex;
    flex-direction: column;
    text-align: center;

    @include m.desktop {
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    &__imagen {
        margin-bottom: 3rem;

        @include m.desktop {
            margin-bottom: 0;
        }
    }
}